<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-left">
      <h4>AR Explorer</h4>
      <p>
        Empowering you to learn and experience Augmented Reality in a fun and
        interactive way.
      </p>
    </div>

    <div class="footer-social">
      <h5>Connect with us</h5>
      <div class="social-icons">
        <a href="https://github.com/Sarinduu" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="http://www.linkedin.com/in/sarindu-wijekoon-9a6b1b216"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 AR Explorer. All rights reserved.</p>
  </div>
</footer>
